#page1 nav{margin-bottom:17px;}
.menu {
	float:left;
	box-shadow: 1px 1px 3px #2a2a2a;
	-webkit-box-shadow: 1px 1px 3px #2a2a2a;
	background:url(../images/menu-tail.gif) center top repeat-x #2c2c2c;
	border-radius:4px;
	width:100%;
}
.menu > li {
	position:relative;
	float:left;
	font:16px/20px 'Oswald', sans-serif;
	text-align:center;
	text-transform:uppercase;
	text-shadow:1px 1px 0 rgba(0,0,0,.4);
	background:url(../images/menu-separator.gif) right center no-repeat;
	width:155px;
	padding-right:2px;
}
	.menu > li.last-item{padding-right:0; background:none;}
	.menu > li > a {
		display:block;
		color:#fff;
		text-decoration:none;
		padding:33px 10px 35px;
		background:url(../images/menu-hover.gif) center -999em repeat-x;
	}
		.menu > li.first-item > a{border-radius:4px 0 0 4px;}
		.menu > li.last-item > a{border-radius:0 4px 4px 0;}
		.menu > li.sfHover > a, .menu > li > a:hover, .menu > li.current > a {text-decoration:none; background-position:center top; background-color:#515151;}
	.menu > li > a .menu-arrow{
		display:inline-block;
		width:5px;
		height:5px;
		overflow:hidden;
		font-size:0;
		line-height:0;
		text-indent:-100%;
		background:url(../images/menu-arrow.gif) center top no-repeat;
		vertical-align:middle;
		margin-left:8px;
	}
/***submenu***/
.menu ul {
	position:absolute;
	top:-999em;
	width:90px;
	display:none;
	padding:31px 10px 32px 26px;
	background:url(../images/submenu-tail.gif) center top repeat;
	z-index:99;
	border-radius:4px;
}
.menu li li{
	width:100%;
	padding:0;
	margin-bottom:18px;
	position:relative;
	font:12px/16px Arial, Helvetica, sans-serif;
	text-align:left;
	letter-spacing:-1px;
}
	.menu li li a{color:#8e8e8e; text-decoration:none;}
		.menu li li > a:hover,.menu li li.sfHover > a{color:#fff; text-decoration:none;}
	.menu ul .menu-arrow{display:none;}
.menu li:hover ul, .menu li.sfHover ul {left:15px; top:88px;}
.menu li:hover li ul, .menu li.sfHover li ul {top:-999em;}
/***subsubmenu***/
.menu ul ul{background:#3a3a3a; width:74px; padding:12px 10px 12px 30px;}
.menu li li:hover ul, .menu li li.sfHover ul {left:101px; top:-8px;}
.menu li li:hover li ul, .menu li li.sfHover li ul {top:-999em;}

@media only screen and (max-width: 995px){
	.menu > li {width:123px;}
	.menu li:hover ul, .menu li.sfHover ul {left:0px;}
	.menu ul .menu-arrow{display:inline-block; margin-left:5px;}
}

@media only screen and (max-width: 767px) {
	nav{width:100%;}
	.menu {float:none; background-image:none;}
	.menu > li {float:none; margin-right:0px; text-align:left; background:url(../images/menu-separator-ml.gif) right bottom repeat-x; width:100%; padding-right:0; padding-bottom:2px;}
		.menu > li.last-item{padding-bottom:0;}
	.menu > li > a {padding:20px;}
	.menu > li.first-item > a{border-radius:4px 4px 0 0;}
	.menu > li.last-item > a{border-radius:0 0 4px 4px;}
	/***submenu***/
	.menu ul {position:static; width:auto;}
	.menu ul ul{background:inherit; width:auto; padding:15px 0 0 20px;}
}